/*Nice fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&family=Great+Vibes&display=swap');

/*Body*/
.body {
  background-color: #000; /*a czemu to mi nie zmienia koloru to nwm*/
}

/*Main container*/
.maincontainer {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #eef7e1;
}

/*Header*/

/*Title*/
a {
    text-decoration: none;
}

.title {
/*  -webkit-text-fill-color: inherit;*/
  background-image: url(img/title_bgrd.jpg);
  background-size:70%;
  background-repeat: repeat;
  background-clip: border-box;
  border-bottom: 1px solid #000;
  height: 100px;
  margin-top: 0px;
}

.titletext {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  font-family: 'Great Vibes', cursive;
  font-size: 70px;
  font-style: normal;
  line-height: 50px;
  margin-top: 0px;
  display: block;
  color: black;
}

/*Menu*/

.menu {
  width: 1fr;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #000;
  flex-wrap: nowrap;
  display: flex;
  
}

.menubutton {
  color: #fff;
  background-color: #333;
  order: 1;
  font-family: Exo, sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  text-decoration: none;
  align-self:stretch;
  width: 20%;
  padding: 5px;
  flex-grow: 1;
}

.menubutton:hover {
  color: #333;
  text-align: center;
  background-color: #e9f4d9;
  font-weight: 600;
}

/*Search section*/
.imSearch {
  margin: 5px;
  padding-top: 0px;
  line-height: 40px;
}

.search {
  width: 60%;
  margin-bottom: 0;
  display: flex;
}

.searchinput {
  width: 95%;
  min-width: 10%;
  border: none;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 35px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.searchinput:focus {
  outline: none;
}

.search-button{
  font-family: Exo, sans-serif;
}


/*Login form*/
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left:0px;
  top:35px;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  border:1px solid black;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}

/*Register form*/
.form-popup {
  font-family: Exo, sans-serif;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #999999;
  z-index: 9;
  text-align: center;
  width: 400px;
  padding: 20px 30px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.register-open{
  border: none;
  outline: none;
}

.form-popup .close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: black;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
}
.form-popup .form h2{
  text-align: center;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.form-element{
  margin: 15px 20px 15px 0px;
  display: block;
  flex-direction: column;
}

.form-element.success input{
  border-color: darkgreen;
}

.form-element.error input{
  border-color: darkred;
}

.err {
  color: #ff3860;
  font-size: 9px;
  font-family: Exo, sans-serif;
  height: 13px;
}


.form-element label{
  font-size: 14px;
}

.form-element input {
  margin-top: 5px;
  display: block;
  margin-right: 40px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 14px;
}
.register-btn{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  cursor: pointer;
  margin-right: -20px;
}

/*Main page*/

.mainpage{
  background-color: #eef7e1;
  font-family: 'Exo', sans-serif;
}

/*New recipe form*/
.subtitle{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  font-style: normal;
  line-height: 5px;
  margin-top: 5px;
  display: block;
}

.recipe{
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.formblock{
  border: none;
  display: block;
  width: 1fr;
  align-items: center;
  justify-content: space-around;
}

/*Name and photo*/

.nameblock{
  border: none;
  display: flex;
  width: 1fr;
  align-items: center;

}

.nameinput{
  width: 90%;
  min-width: 10%;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.nameinput:focus{
  outline: none;
}

.upload{
  height:0px;
  overflow:hidden;
  width: 0px;
}

.photobutton:hover{
  color: #e9f4d9;
  background-color: #333;
}

.photobutton{
  border: solid;
  border-width: thin;
  background-color: #eef7e1;
  align-items: center;
  justify-content: space-around;
  height: 35px;
}

/*Tags*/

.tagcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  width: 1fr;
  height: 300px;
  border: solid;
  border-width: thin;
  background-color: #FFF;
  justify-content: space-around;
  overflow: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.tagbutton{
  border: none;
  background-color: #FFF;
  display: block;
  font-family: Exo, sans-serif;
  font-weight: 500;
  text-align: center;
  justify-self: stretch;
}

.tagbutton:hover{
  background-color: #eef7e1;
}

.tagbutton:active{
  background-color: #eef7e1;
}

.tagbutton label span {
  text-align: center;
  display: block;
}

.tagbutton label input {
  position: absolute;
  display: none;
}

.tagbutton input:checked + span {
  background-color: #eef7e1;
}

/*Ingredients*/
.listblock{
  /*display: flex;*/
  width: 1fr;
}

.ingredient{
  width: 100%;
  display: list-item;
  margin-bottom: 5px;
}

ol li{
  width: 100%;
  position: relative;
}

.close {
  position: absolute;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.inginput{
  margin-left: 40px;
  padding-bottom: 15px;
}

.ingname{
  width: 60%;
  min-width: 10%;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  margin-left: 2.5%;
  margin-right: 0.5%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.ingname:focus{
  outline: none;
}

.amount{
  width: 10%;
  min-width: 10%;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.amount:focus{
  outline: none;
}

.unit{
  width: 10%;
  min-width: 10%;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.unit:focus{
  outline: none;
}

.addbutton{
  border: solid;
  border-width: thin;
  background-color: #eef7e1;
  display: flex;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  font-weight: 500;
  align-items: center;
  margin-left: 65px;
}
.addbutton:hover{
  color: #e9f4d9;
  background-color: #333;
}


/*Steps*/
.step{
  width: 85%;
  margin-bottom: 0;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.step:focus{
  outline: none;
}

.steps{
  width: 100%;
  margin-bottom: 5px;
  display: list-item;
}

/*Cooking time*/
.rec-time{
  margin-left: 5px;
  margin-top: 10px;
  height: 30px;
  font-family: Exo, sans-serif;
  border-width: thin;
}

.rec-time:focus {
  outline: thin;
}

/*submit button*/
.submitbutton{
  min-width: 10%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  border: solid;
  border-width: thin;
  background-color: #eef7e1;
}

.submitset{
  text-align: center;
  border: none;
}

.submitbutton:hover{
  color: #e9f4d9;
  background-color: #333;
}

/*Search for recipe*/

.nameinput2{
  width: 100%;
  min-width: 10%;
  flex: 0 auto;
  margin-top: 5px;
  align-self: flex-end;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  border: solid;
  border-width: thin;
}

.radio{
  margin-top: 10px;
}

/*Show recipe*/
.rec{
  border: double;
  border-color: #333;
  margin: 20px;
  display: block;
  background-color: #FFF;
}

.rec-name{
  text-align: center;
}
.rec-half{
  display: flex;
  margin-top: 10px;
}

.rec-info{
  width: 70%;
  margin: 5px;
}

.rec-tags{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1fr;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag{
  background-color: #FFF;
  display: block;
  font-family: Exo, sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  justify-self: stretch;
  align-items: center;
  border: solid;
  border-width: thin;
  border-radius: 20px;
  height: 25px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px;
  flex-shrink: 0;
}

.rec-img{
  width: 50%;
  max-width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 20px;
  margin-right: 40px;
}

.rec-author{
  padding-left: 15px;
  font-size: 14px;
}

.rec-button{
  border: solid;
  border-width: thin;
  background-color: #eef7e1;
  display: flex;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  font-weight: 500;
  align-items: center;
  margin: 15px;
}

.rec-button:hover{
  color: #e9f4d9;
  background-color: #333;
}

.btnimg{
  margin-right: 5px;
}

.sel-folder{
  font-size: 15px;
  font-family: Exo, sans-serif;
  border: solid;
  border-width: thin;
  height: 33px;
  width: 30%;
  padding: 2px;
}

.sel-folder:focus {
  outline: thin;
}

.favourite{
  display: flex;
  align-items: center;
  text-align: center;
}

.rec-ing{
  display: block;
  width: 50%;
  border: solid;
  border-width: thin;
  margin: 20px;
  background-color: #e9f4d9;
}

.rec-steps{
  display: block;
  width: 50%;
  border: solid;
  border-width: thin;
  margin: 20px;
  background-color: #e9f4d9;
}

/*Homepage, index and search results*/
.recipead{
  border: none;
  display: flex;
  margin: 20px;
  padding: 5px;
  background-color: white;
  flex-grow: 1;
}

.recipead:hover{
  background-color: #f0f0f0;
}

.recad-img{
  width: 20%;
  max-width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 20px;
  margin-right: 40px;
}

.recad-tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Show the recipe book*/

.book{
  display: flex;
  flex-direction: row;
}

.tabs{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  margin-right: 0px;
  margin-top: 0px;
  width: 25%;
  background-color: #333;
}

.folder-tab{
  padding: 10px;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  border: none;
  color: #fff;
  background-color: #333;
}

.folder-tab:hover{
  color: #333;
  background-color: #e9f4d9;
  font-weight: 600;
}

.folder-tab:active{
  color: #333;
  background-color: #e9f4d9;
  font-weight: 600;
}

.folder-content{
  min-height: 500px;
  width: 100%;
  border: none;
  margin: 20px;
  margin-left: 0px;
  margin-top: 0px;
  display: block;
  background-color: #FFF;
}

.folder-name{
  text-align: center;
}

.folder-rec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  border: none;
  width: 95%;
  background-color: #FFF;
}

.recip-name{
  margin-left: 10px;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  text-align: left;
}

.recip-tags{
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.folder-rec:hover{
  background-color: #f0f0f0;
}

.actions{
  text-align: right;
  margin: 5px;
  margin-bottom: 0;
}

.actionbutton{
  border: none;
  background-color: #FFF;
  align-items: center;
  justify-content: space-around;
  height: 35px;
}

.actionbutton:hover{
  background-color: #f0f0f0;
}

.recip{
  width: 98%;
  display: flex;
  align-items: center;
  text-align: center;
  height: auto;
}

/*Alerty*/
.alert {
  display: none;
  position: relative;
  top: 10px;
  left: 0;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  line-height: 1.8;
  border: none;
  cursor: hand;
  cursor: pointer;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  font-size: 10px;
}

.clear {
  clear: both;
}

.info {
  background-color: #FFF;
  color: #333;
}
#share-button {
  display: none;
}
