/*Nice fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&family=Great+Vibes&display=swap');

/*Body*/
.body {
  background-color: #000; /*a czemu to mi nie zmienia koloru to nwm*/
}

/*Main container*/
.maincontainer {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #eef7e1;
}

/*Header*/

/*Title*/
.title {
/*  -webkit-text-fill-color: inherit;*/
  background-image: url(img/title_bgrd.jpg);
  background-size:70%;
  background-repeat: repeat;
  background-clip: border-box;

  border-bottom: 1px solid #000;
  height: 100px;
  margin-top: 0px;
}

.titletext {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  font-family: 'Great Vibes', cursive;
  font-size: 70px;
  font-style: normal;
  line-height: 50px;
  margin-top: 0px;
  display: block;
}

/*Menu*/

.menubutton {
  color: #fff;
  background-color: #333;
  order: 1;
  font-family: Exo, sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  width: 20%;
}

.menubutton:hover {
  color: #333;
  text-align: center;
  background-color: #e9f4d9;
  font-weight: 600;
}

.menu {
  width: 100%;
  text-align: left;
  object-fit: fill;
  background-color: #fff;
  border-bottom: 1px solid #000;
  flex-wrap: nowrap;
  display: flex;
  overflow: visible;
}

/*Search section*/
.imSearch {
  margin: 5px;
  padding-top: 0px;
  line-height: 40px;
}

.search {
  width: 60%;
  margin-bottom: 0;
  display: flex;
}

.searchinput {
  width: 95%;
  min-width: 10%;
  border: none;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.searchinput:focus {
  outline: none;
}

.search-button{
  font-family: Exo, sans-serif;
}

/*Login form*/
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left:0px;
  top:35px;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  border:1px solid black;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}

/*Register form*/
.form-popup {
  font-family: Exo, sans-serif;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #999999;
  z-index: 9;
  text-align: center;
  width: 400px;
  padding: 20px 30px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.register-open{
  border: none;
  outline: none;
}

.form-popup .close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: black;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
}
.form-popup .form h2{
  text-align: center;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.form-element{
  margin: 15px 20px 15px 0px;
  display: block;
  flex-direction: column;
}

.form-element.success input{
  border-color: darkgreen;
}

.form-element.error input{
  border-color: darkred;
}

.err {
  color: #ff3860;
  font-size: 9px;
  font-family: Exo, sans-serif;
  height: 13px;
}


.form-element label{
  font-size: 14px;
}

.form-element input {
  margin-top: 5px;
  display: block;
  margin-right: 40px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 14px;
}
.register-btn{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  cursor: pointer;
  margin-right: -20px;
}

/*Main page*/

.mainpage{
  background-color: #eef7e1;
}

/*New recipe form*/
.subtitle{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  font-style: normal;
  line-height: 5px;
  margin-top: 5px;
  display: block;
}

.recipe{
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.formblock{
  border: none;
  display: block;
  width: 1fr;
  align-items: center;
  justify-content: space-around;
}

/*Name and photo*/

.nameblock{
  border: none;
  display: flex;
  width: 1fr;
  align-items: center;

}

.nameinput{
  width: 90%;
  min-width: 10%;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.nameinput:focus{
  outline: none;
}

.upload{
  height:0px;
  overflow:hidden;
  width: 0px;
}
/*Tags*/

.tagcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  width: 1fr;
  height: 300px;
  border: solid;
  border-width: thin;
  background-color: #FFF;
  justify-content: space-around;
  overflow: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.tagbutton{
  border: none;
  background-color: #FFF;
  display: block;
  font-family: Exo, sans-serif;
  font-weight: 500;
  text-align: center;
  justify-self: stretch;
}

.tagbutton:hover{
  background-color: #eef7e1;
}

.tagbutton:active{
  background-color: #eef7e1;
}

.tagbutton label span {
  text-align: center;
  display: block;
}

.tagbutton label input {
  position: absolute;
  display: none;
}

.tagbutton input:checked + span {
  background-color: #eef7e1;
}

/*Ingredients*/
.listblock{
  /*display: flex;*/
  width: 1fr;
}

.ingredient{
  width: 100%;
}

ol li{
  width: 100%;
  position: relative;
}

.close {
  position: absolute;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.inginput{
  margin-left: 40px;
  padding-bottom: 15px;
}

.ingname{
  width: 60%;
  min-width: 10%;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  margin-left: 2.5%;
  margin-right: 0.5%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.ingname:focus{
  outline: none;
}

.amount{
  width: 10%;
  min-width: 10%;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.amount:focus{
  outline: none;
}

.unit{
  width: 10%;
  min-width: 10%;
  flex: 0 auto;
  align-self: flex-end;
  margin-bottom: 0;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.unit:focus{
  outline: none;
}

.addbutton{
  border: solid;
  border-width: thin;
  background-color: #eef7e1;
  display: flex;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  font-weight: 500;
  align-items: center;
  margin-left: 65px;
}
.addbutton:hover{
  color: #e9f4d9;
  background-color: #333;
}


/*Steps*/
.step{
  width: 85%;
  margin-bottom: 0;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
  border: solid;
  border-width: thin;
}

.step:focus{
  outline: none;
}

.steps{
  width: 100%;
}

/*submit button*/
.submitbutton{
  width: 10%;
  font-size: 15px;
  font-family: Exo, sans-serif;
  line-height: 30px;
  border: solid;
  border-width: thin;
  background-color: #eef7e1;
}

.submitset{
  text-align: center;
  border: none;
}

.submitbutton:hover{
  color: #e9f4d9;
  background-color: #333;
}
